.content-width {
  width: 95%;
}

/*---------------------------------
header
---------------------------------*/
#header {
  width: 100%;
  position: fixed;
  background: #fff;
  padding: 5px 0;
  z-index: 200;
}

.header-logo {
  display: flex;
  font-size: 0.8rem;
}

.header-nav {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.main-logo {
  width: 30px;
  margin-right: 5px;
}

.site-title {
  margin-bottom: 2px;
  color: #1869BC;
}

.mobile-nav {
  margin-left: auto;
  cursor: pointer;
}

.mobile-nav #open.hide {
  display: none;
}

/*---------------------------------
hamburger menu
---------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
}
.overlay a:hover {
  text-decoration: underline;
  opacity: 0.6;
  transition: background 0.4s;
}
.overlay a {
  opacity: 1;
  transition: background 0.4s;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay #close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 30px;
  cursor: pointer;
}
.overlay .close-nav {
  margin: 0;
  padding: 0;
}
.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: 0.4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: 0.5s;
}

.pc-nav {
  display: none;
}

/*---------------------------------
footer
---------------------------------*/
#footer {
  font-size: 0.8rem;
  background-color: #1869BC;
  text-align: center;
  position: relative;
  z-index: 40;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
  padding-top: 25px;
}

.nav-text {
  padding: 5px 20px;
  margin: 0 3px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.nav-text:hover {
  background: #fff;
  color: #1869BC;
  transition: background 0.3s ease;
}

@-webkit-keyframes sunflower {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes sunflower {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
.footer-icon-move {
  -webkit-animation: sunflower 2s linear infinite alternate;
          animation: sunflower 2s linear infinite alternate;
}

.icon-hover {
  opacity: 0;
  transition: 0.3s ease;
}
.icon-hover:hover {
  transition: 0.3s ease;
  opacity: 1;
}

.icon-text {
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  z-index: 20;
}

.sunflower {
  width: 5.5rem;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
}

.copy {
  padding-bottom: 5px;
  color: #fff;
}

/*---------------------------------
media max478
---------------------------------*/
@media (max-width: 478px) {
  /*---------------------------------
  footer
  ---------------------------------*/
  #footer {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 640px) {
  /*---------------------------------
  nav
  ---------------------------------*/
  .mobile-nav {
    display: none;
  }

  .pc-nav {
    display: block;
    margin-right: 15px;
  }
  .pc-nav ul {
    display: flex;
  }
  .pc-nav-text {
    display: block;
    border-radius: 5px;
    padding: 5px 14px;
    margin: 3px;
    font-size: 0.9rem;
    color: #1869BC;
    transition-property: background 0.3s ease;
  }
  .pc-nav a:hover {
    background: #1869BC;
    color: #fff;
    transition-property: background 0.3s ease;
  }

  /*---------------------------------
  footer
  ---------------------------------*/
  .nav-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1040px) {
  .content-width {
    width: 90%;
  }

  /*---------------------------------
  header
  ---------------------------------*/
  .header-logo {
    display: flex;
    font-size: 1rem;
  }

  .main-logo {
    width: 40px;
  }

  .pc-nav-text {
    font-size: 1.2em;
    padding: 5px 16px;
    margin: 3px;
  }

  .header-nav {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  /*---------------------------------
  footer
  ---------------------------------*/
  .footer-nav a {
    font-size: 1.25rem;
  }
}
/*---------------------------------
common
---------------------------------*/
html {
  font-size: 100%;
}

body {
  width: 100%;
  color: #1869BC;
  margin: 0;
  font-family: "Kalam", cursive;
  font-family: "Short Stack", cursive;
  font-family: "Klee One", cursive;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mb {
  margin-bottom: 100px;
}

.mt {
  margin-top: 100px;
}

.content-title {
  position: relative;
  z-index: 100;
  font-size: 5rem;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #00005d;
  font-size: 1rem;
}

/*---------------------------------
container
---------------------------------*/
.container {
  background-image: linear-gradient(#fff, #cdf7f7, #fff, #cdf7f7);
  height: 100%;
  position: relative;
  overflow: hidden;
}

/*---------------------------------
text
---------------------------------*/
.text {
  text-align: left;
  opacity: 0;
  transition: opacity 4s;
  position: relative;
  z-index: 60;
}

.text.appear {
  opacity: 1;
}

/*---------------------------------
wrapper
---------------------------------*/
.wrapper {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.4s, transform 1s;
  margin-left: auto;
  margin-right: auto;
}

.wrapper.appear {
  opacity: 1;
  transform: none;
}

/*---------------------------------
media max478
---------------------------------*/
@media (max-width: 478px) {
  .content-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
}
/*---------------------------------
media min640
---------------------------------*/
@media (min-width: 640px) {
  .content-title {
    font-size: 5.5rem;
  }

  p {
    line-height: 1.7;
  }

  h3,
.service-wrap,
.asterisk,
.lang,
.profile {
    margin-left: 40%;
  }
}
/*---------------------------------
@media min1040
---------------------------------*/
@media (min-width: 1040px) {
  main {
    margin: 0 auto;
  }

  .content-title {
    font-size: 6rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.1rem;
  }

  .mb {
    margin-bottom: 200px;
  }

  /*---------------------------------
  text
  ---------------------------------*/
  h3,
.service-wrap,
.asterisk,
.lang,
.profile {
    margin-left: 50%;
  }
}
/*---------------------------------
contact
---------------------------------*/
#contact {
  position: relative;
  z-index: 50;
}

/*---------------------------------
form
---------------------------------*/
.form-menu {
  position: relative;
  z-index: 90;
  margin-bottom: 8px;
}

label {
  margin-bottom: 4px;
  display: block;
}

input[type=text],
input[type=email],
textarea {
  background: rgba(255, 255, 255, 0.4);
  border: solid 1px #1968BC;
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 6rem;
}

button {
  width: 100%;
  background: #1869BC;
  color: #fff;
  border-radius: 5px;
  position: relative;
  height: 50px;
  font-size: 1.4rem;
  transition: 0.5s ease all;
}
button .mail {
  padding-right: 15px;
}
button:hover {
  background: #fff;
  color: #1869BC;
}
button:hover:before {
  width: 100%;
  transition: 0.5s ease 0.2s all;
}
button:hover::after {
  -webkit-animation: arrow 1.2s 0.7s infinite;
          animation: arrow 1.2s 0.7s infinite;
}
button:before {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  width: 0;
  background: #1869BC;
  top: inherit;
  left: 0;
  bottom: 0;
}
button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8rem;
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #1869BC;
  opacity: 0;
}

@-webkit-keyframes arrow {
  50% {
    right: 0.2em;
    opacity: 1;
  }
  100% {
    right: -0.4em;
    opacity: 0;
  }
}

@keyframes arrow {
  50% {
    right: 0.2em;
    opacity: 1;
  }
  100% {
    right: -0.4em;
    opacity: 0;
  }
}
.form-img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
}

/*---------------------------------
media min640
---------------------------------*/
@media (min-width: 640px) {
  /*---------------------------------
  form
  ---------------------------------*/
  .form-img {
    width: 600px;
  }

  input[type=text],
input[type=email],
textarea,
button {
    width: 60%;
  }
}
/*---------------------------------
@media min1040
---------------------------------*/
@media (min-width: 1040px) {
  /*---------------------------------
  form
  ---------------------------------*/
  .form {
    margin: 0 auto;
  }
  .form-menu {
    margin-bottom: 14px;
  }
  .form-box {
    width: 40%;
  }
  .form-img {
    width: 60%;
    bottom: -200px;
  }

  /*---------------------------------
  form
  ---------------------------------*/
  input[type=text],
input[type=email],
textarea,
button {
    width: 50%;
  }

  label {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.6rem;
    height: 60px;
  }
}
/*---------------------------------
display-animation
---------------------------------*/
.display-animation {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}
.display-animation li {
  position: absolute;
  margin: 0 auto;
  top: -370px;
  list-style: none;
  z-index: 20;
}

.display-item {
  width: 60px;
}

@-webkit-keyframes fall {
  to {
    top: 100%;
  }
}

@keyframes fall {
  to {
    top: 100%;
  }
}
@-webkit-keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(100px) rotate(-60deg);
  }
}
@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(100px) rotate(-60deg);
  }
}
@-webkit-keyframes sway2 {
  from {
    transform: translateX(100px) rotate(60deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes sway2 {
  from {
    transform: translateX(100px) rotate(60deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.display-animation li:nth-child(1) {
  left: 0%;
  -webkit-animation: fall 27s linear infinite, fade 27s ease infinite, sway1 3s ease-in-out infinite alternate;
          animation: fall 27s linear infinite, fade 27s ease infinite, sway1 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 0.6;
}

.display-animation li:nth-child(2) {
  left: 10%;
  -webkit-animation: fall 31s linear infinite, fade 31s ease infinite, sway2 2s ease-in-out infinite alternate;
          animation: fall 31s linear infinite, fade 31s ease infinite, sway2 2s ease-in-out infinite alternate;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.display-animation li:nth-child(3) {
  left: 20%;
  -webkit-animation: fall 26s linear infinite, fade 26s ease infinite, sway1 4s ease-in-out infinite alternate;
          animation: fall 26s linear infinite, fade 26s ease infinite, sway1 4s ease-in-out infinite alternate;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.display-animation li:nth-child(4) {
  left: 25%;
  -webkit-animation: fall 30s linear infinite, fade 30s ease infinite, sway2 5s ease-in-out infinite alternate;
          animation: fall 30s linear infinite, fade 30s ease infinite, sway2 5s ease-in-out infinite alternate;
  -webkit-animation-delay: 17s;
          animation-delay: 17s;
}

.display-animation li:nth-child(5) {
  left: 35%;
  -webkit-animation: fall 28s linear infinite, fade 28s ease infinite, sway2 2s ease-in-out infinite alternate;
          animation: fall 28s linear infinite, fade 28s ease infinite, sway2 2s ease-in-out infinite alternate;
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
  opacity: 0.7;
}

.display-animation li:nth-child(6) {
  left: 50%;
  -webkit-animation: fall 30s linear infinite, fade 30s ease infinite, sway2 3s ease-in-out infinite alternate;
          animation: fall 30s linear infinite, fade 30s ease infinite, sway2 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.display-animation li:nth-child(7) {
  left: 65%;
  -webkit-animation: fall 26s linear infinite, fade 26s ease infinite, sway1 3s ease-in-out infinite alternate;
          animation: fall 26s linear infinite, fade 26s ease infinite, sway1 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}

.display-animation li:nth-child(8) {
  left: 75%;
  -webkit-animation: fall 26s linear infinite, fade 26s ease infinite, sway2 3s ease-in-out infinite alternate;
          animation: fall 26s linear infinite, fade 26s ease infinite, sway2 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
}

.display-animation li:nth-child(9) {
  left: 80%;
  -webkit-animation: fall 27s linear infinite, fade 27s ease infinite, sway1 3s ease-in-out infinite alternate;
          animation: fall 27s linear infinite, fade 27s ease infinite, sway1 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 19.5s;
          animation-delay: 19.5s;
}

.display-animation li:nth-child(10) {
  left: 90%;
  -webkit-animation: fall 28s linear infinite, fade 28s ease infinite, sway2 3s ease-in-out infinite alternate;
          animation: fall 28s linear infinite, fade 28s ease infinite, sway2 3s ease-in-out infinite alternate;
  -webkit-animation-delay: 24.5s;
          animation-delay: 24.5s;
}

/*---------------------------------
media min640
---------------------------------*/
@media (min-width: 640px) {
  /*---------------------------------
  top_down
  ---------------------------------*/
  .display-item {
    width: 80px;
  }
}
/*---------------------------------
@media min1040
---------------------------------*/
@media (min-width: 1040px) {
  /*---------------------------------
    top_down
  ---------------------------------*/
  .display-item {
    width: 100px;
  }
}
.contact-check {
  display: block;
  width: 90%;
  margin: 30px auto;
}

input {
  position: relative;
  z-index: 50;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 10px;
}

input:hover {
  opacity: 0.7;
}

input[type=button] {
  color: #1869bd;
  background: #fff;
}

input[type=submit] {
  background: #1869bd;
  color: #fff;
}
/*# sourceMappingURL=contact.css.map */