
/*---------------------------------
media max400
---------------------------------*/
@media (max-width: 450px) {

  .content-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

/*---------------------------------
header
---------------------------------*/
  .main-logo {
    margin-left: 10px;
  }
  .mobile-nav {
    margin-right: 14px;
  }
/*---------------------------------
main-visual
---------------------------------*/
.main-visual {
  margin-bottom: 30px;
}
  .main-visual-text {
    font-size: 3rem;
  }
  .main-visual .outside::after {
    font-size: 3rem;
  }

/*---------------------------------
about
---------------------------------*/
  #about .name {
    font-size: 1.2rem;
  }
  #about .dance-pic {
    top: 130px;
  }
/*---------------------------------
footer
---------------------------------*/
  #footer {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

} 