@charset "utf-8";


/*---------------------------------
media max400
---------------------------------*/
@media (max-width: 450px) {
  .main-visual-text {
    font-size: 3.5rem;
  }
  .main-visual .outside::after {
    font-size: 3.5rem;
  }
}
/*---------------------------------
media min630
---------------------------------*/
@media (min-width: 630px) {


  .content-title {
    font-size: 5.5rem;
  }

  p {
    line-height: 1.7;
  }

  h3,
.service-wrap,
.asterisk,
.lang,
.profile {
  margin-left: 40%;
}
/*---------------------------------
nav
---------------------------------*/
  .mobile-nav {
    display: none;
  }

  .pc-nav  {
    display: block;
    margin-right: 20px;
  }

  .pc-nav ul {
    display: flex;
  }
  
  .pc-nav a {
    display: block;
    border-radius: 5px;
    padding: 5px 14px;
    margin: 3px;
    font-size: 0.9rem;
    color: #1869BC;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .pc-nav a:hover {
    background: #1869BC;
    color: #fff;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
  }

/*---------------------------------
main_visual
---------------------------------*/
.main-visual {
  max-height: 650px;
}

.main-visual img {
  max-height: 600px;
  object-fit: cover;
  object-position: top left;
}
.main-visual h1 {
  font-size: 6rem;
}
  
.main-visual .outside::after {
  font-size: 6rem;
}


/*---------------------------------
service
---------------------------------*/
.desk-work {
  width: 450px;
  position: absolute;
  right: -80px;
  bottom: -100px;
  z-index: 10;
}

/*---------------------------------
about
---------------------------------*/

#about {
  position: relative;
}

.dance-pic {
  display: block;
  margin: 0 auto;
  width: 450px;
  position: absolute;
  top: 200px;
  left: -50px;
  z-index: 0;
}

.about-pic {
  width: 700px;
  top: -280px;
}

.sky-pic {
  width: 700px;
  max-height: 700px;
  left: 20px;
}

#about .profile {
  text-align: left;
  position: relative;
  z-index: 50;
}
/*---------------------------------
works
---------------------------------*/

#works img {
  max-height: 550px;
  top: -155px;
}



/*---------------------------------
plane
---------------------------------*/
  @keyframes move {
    100% {
      transform: translate(-1100px, -200px);
    }
  }
  .plane {
    width: 60px;
    top: 150px;
    animation-duration: 7s;
  }


  /*---------------------------------
form
---------------------------------*/
.form-img {
  width: 550px;
}
input[type="text"],
input[type="email"],
textarea,
button {
  width: 60%;
}

/*---------------------------------
footer
---------------------------------*/
  .footer-nav a {
    font-size: 1.2rem;
  }

/*---------------------------------
top_down
---------------------------------*/

.display-item {
  width: 80px;
}
}
