
/*---------------------------------
media max478
---------------------------------*/
@media (max-width: 478px) {

  .content-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

/*---------------------------------
header
---------------------------------*/
  .main-logo {
    margin-left: 10px;
  }
  .mobile-nav {
    margin-right: 14px;
  }
/*---------------------------------
main-visual
---------------------------------*/
.main-visual {
  margin-bottom: 30px;
  &-text {
    font-size: 3rem;
  }
  .outside::after {
    font-size: 3rem;
    left: 1.5px;
    bottom: -1.5px;
  }
}

/*---------------------------------
about
---------------------------------*/
#about {
  .name {
    font-size: 1.2rem;
  }
  .dance-pic {
    top: 130px;
  }
} 
/*---------------------------------
footer
---------------------------------*/
  #footer {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

}