$main-color: #1869BC;
$text-color: #00005d;
$bg-color: #fff;

/*---------------------------------
@media min1040
---------------------------------*/
@media (min-width: 1040px) {

  main {
    width: 90%;
    margin: 0 auto;
  }

  .content-title {
    font-size: 6rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.1rem
  }

  .mb {
    margin-bottom: 200px;
  }
  /*---------------------------------
  header
  ---------------------------------*/
  .header-logo {
    display: flex;
    font-size: 1rem;
  }

  .main-logo {
    width: 40px;
  }

  .pc-nav-text {
    font-size: 1.2em;
    padding: 5px 16px;
    margin: 3px;
  }

  /*---------------------------------
  text
  ---------------------------------*/
  h3,
  .service-wrap,
  .asterisk,
  .lang,
  .profile {
    margin-left: 50%;
  }

  /*---------------------------------
  wrapper
  ---------------------------------*/
  .wrapper {
    max-width: 1200px;
  }

  /*---------------------------------
  main_visual
  ---------------------------------*/
  .main-visual {
    position:static;
    display: flex;
    height: 700px;
    margin-bottom: 100px;
    &-item {
      object-fit: cover;
      object-position: top right;
      position: relative;
      width: 80%;
      z-index: 0;
    }
    .main-visual-text {
      font-size: 8.5rem;
      white-space: pre;
      span {
        font-size: 10rem;
      }
    }
    .outside {
      height: 700px;
      overflow: hidden;
      &::after {
        left: 0;
        bottom: 0;
        white-space: pre;
        font-size: 10rem;
        z-index: 30;
      }
    }
    .main-outer {
      position: relative;
      width: 20%;
      background-image: linear-gradient(#a0cbf7,#cdf7f7 ,#fff);
    }
  }

  /*---------------------------------
  service
  ---------------------------------*/
  .desk-work {
    width: 500px;
    margin: 0 auto;
    top: 500px;
    left: 55%;
  }

  /*---------------------------------
  about
  ---------------------------------*/
  .about-pic {
    width: 800px;
    top: -280px;
    left: 180px;
  }

  .dance-pic {
    width: 550px;
    position: absolute;
    top: 200px;
    right: 600px;
    z-index: 0;
  }

  /*---------------------------------
  works
  ---------------------------------*/
  .works-item-wrap {
    width: 24%;
    height: 24%;
  }
  /*---------------------------------
  plane
  ---------------------------------*/
  @keyframes move {
    0% {
      transform: none;
    }
    100% {
      transform: translate(-1950px, -200px);
    }
  }
  .plane {
    width: 60px;
    animation-duration: 13s;
  }
  /*---------------------------------
  form
  ---------------------------------*/
  .form-menu {
    margin-bottom: 14px;
  }

  .form-box {
    width: 40%;
  }

  .form-img {
    width: 100%;
    bottom: -200px;
  }

  /*---------------------------------
  form
  ---------------------------------*/
  input[type="text"],
  input[type="email"],
  textarea,
  button {
    width: 50%;
  }

  label {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.6rem;
    height: 60px;
  }

  /*---------------------------------
  footer
  ---------------------------------*/
  .footer-nav a {
    font-size: 1.25rem;
  }


  /*---------------------------------
  top_down
  ---------------------------------*/

  .display-item {
  width: 100px;
  }
}